@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>@Html.ActionLink("Paradero","Index","Paradero")</p>
<p>@Html.ActionLink("Estado","Index","Estado")</p>
<p>@Html.ActionLink("Recorrido","Index","Recorrido")</p>
<p>@Html.ActionLink("Recorrido y Paradero","Index","RecorridoParadero")</p>
<p>@Html.ActionLink("Informacion","Index","Informacion")</p>

<p>@Html.ActionLink("Ingreso de Información","Index","IngresarInformacion")</p>
