@model Prueba5.Logica.Busqueda

@{
    ViewBag.Title = "ObtenerInformacion";
}

<h2>Resultados</h2>

@if (Model.Informacion != null)
{
    <p>Información para <b>@Model.Codigo</b></p>
    <table>
        <tr>
            <th>
                Recorrido
            </th>
            <th>
                Fecha
            </th>
            <th>
                Estado
            </th>
        </tr>
        @foreach (var m in Model.Informacion)
        { 
            <tr>
                <td>@Html.DisplayFor(modelItem => m.Recorrido.numero)</td>
                <td>@Html.DisplayFor(modelItem => m.fecha)</td>
                <td>@Html.DisplayFor(modelItem => m.Estado.NombreEstado)</td>
            </tr>
        }
    </table>
}
else if (Model.Paraderos != null)
{
    <p>Encontramos un paradero</p>
    foreach (var m in Model.Paraderos)
    { 
        <br />
        @Html.DisplayFor(modelItem => m.codigo)
        <br />
    }
}
else if (Model.Recorridos != null)
{
    <p>Encontramos un recorrido</p>
    foreach (var m in Model.Recorridos)
    { 
        <br />
        @Html.DisplayFor(modelItem => m.numero)
        <br />
    }
}
else
{
     <p>No hubo resultados para la busqueda: </p>
     <p>Numero: @Html.DisplayFor(modelItem => Model.Numero)</p>
     <p>Codigo: @Html.DisplayFor(modelItem => Model.Codigo)</p>
}